.regresarbutton {
  background-color: #92B3E6;
  color: white;
  font-family: 'Jersey 20', sans-serif;
  font-size: 1.6rem;
  padding: 0rem 2rem;
  border-radius: 16px;
  border: 5px solid #6B95D6;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  letter-spacing: 1px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.regresarbutton:hover {
  transform: scale(1.05);
}